<div class="content-section introduction">
    <div>
        <span class="feature-title">Theming</span>
        <span>Choose from a variety of premium themes or develop your own theme using PrimeNG Theme Designer API.</span>
    </div>
</div>

<div class="content-section documentation">
    <h3 style="margin-top:0">Theme Designer API</h3>
    <p><a href="https://www.primefaces.org/designer/primeng">Designer API</a> is the ultimate tool to create your own PrimeNG experience powered by a SASS based theme engine 
        with 500+ variables and a demo application. In addition, PrimeNG only ships the generated CSS of Nova, Luna and Rhea themes whereas Designer provides
        full access to the whole SASS structure and the variables of these pre-built themes.</p>
    <p>Whether you have your own style guide or just need a custom theme, Designer API is the right tool to design and bring them to existence.</p>
    
    <p>Visit <a href="https://www.primefaces.org/designer/primeng">Designer API HomePage</a> for more information, live demos and access to a trial version.</p>

    <h3>Premium Templates</h3>
    <p>Powered by Angular CLI, create awesome applications in no time using the premium templates of PrimeNG and impress your users.</p>
    <p>Premium Templates are advanced Angular CLI applications featuring a full application layout with various menu orientations, templates pages such as landing, login and 
        premium themes that share the same design language of the layout for a unified look.</p>
</div>
