//@import "~src/scss/variables";
@import "../../../scss/variables";

.ea-button {
    background-color: $background-color;
    color: $font-color;
    height: 3em;
    font-size: 14px;
    outline: none;
}
